[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
python-twitter = "*"
python-dotenv = "*"
langdetect = "*"

[dev-packages]
jupyterlab = "*"
pytest = "*"
pylint = "*"
black = "*"
